<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>UD Annotatrix</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body style="display: block;">
  <div id="welcome-content">

		<h1 id="welcome-banner">Welcome to UD Annotatrix</h1>

		<form method="post" enctype="multipart/form-data" action="./upload">
      <input type="file" name="file" />
      <input type="submit" value="Upload to server" />
		</form>

		<form method="post" action="./upload">
			<input id="load-from-url" name="url" />
			<input type="submit" value="Load from url" />
		</form>

		<div id="links">
			<strong>Links:</strong>
			<a id="to_annotatrix" href="./annotatrix.html">
				Online annotator
			</a>
			<a id="to_help" href="./help.html">
				Help
			</a>
		</div>

		<div id="treebanks">
			<% if (error) { %>
				<span>
					Error loading treebanks: <%= error %>
				</span>
			<% } else if (treebanks.length) { %>
				<span>
					Available treebanks:
				</span>
				<table id="available-treebanks" class="table table-hover table-striped table-sm">
					<thead>
						<tr>
							<th>Last modified</th>
							<th>ID</th>
							<th>Filename</th>
							<th>Sentences (total)</th>
							<th>Sentences (invalid)</th>
							<th>Top labels</th>
						</tr>
					</thead>
					<tbody>
						<% treebanks.forEach(treebank => {
							const url = `${base}/annotatrix?treebank_id=${treebank.id}`; %>
								<tr id="<%= treebank.id %>">
									<td><a href="<%= url %>" title="<%= treebank.modified %>">
										<%= treebank.modified_ago %>
									</a></td>
									<td><a href="<%= url %>" title="<%= treebank.id %>">
										<%= treebank.id.split('-')[0] %>
									</a></td>
									<td><a href="<%= url %>">
										<%= treebank.filename %>
									</a></td>
									<td><a href="<%= url %>">
										<%= treebank.sentences %>
									</a></td>
									<td><a href="<%= url %>">
										<%= treebank.errors %>
									</a></td>
									<td><a href="<%= url %>">
										<%= treebank.labels.map(label => `${label.name} (${label.size})`).join(', ') %>
									</a></td>
								</tr>
							</a>
						<% }); %>
					</tbody>
				</table>
			<% } %>
		</div>

	</div>
</body>
</html>
