<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../favicon.png" sizes="230x230" type="image/png">
    <title>UD Annotatrix</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/fontawesome.all.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <style>
        body {
            padding-top: 100px;
        }
        .actmode{
                line-height: .5rem;
        }
    </style>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/main.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">
            <img src="../logo.svg" class="ud-logo" alt="Annotatrix">
        </a>
        <!-- <a class="navbar-brand" href="#">UD Annotatrix</a> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">

                <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li> -->
                <li class="nav-item">
                    <div class="input-group mb-3 form-inline my-2 my-lg-0">
                        <a class="btn btn-default btn-outline-secondary" href="./help.html" target="_blank">Help</a>
                    </div>
                </li>
                <% if (github) { %>
                <li class="nav-item">
                    <div class="input-group mb-3 form-inline my-2 my-lg-0">
                        <input type="text" id="gitlink" class="form-control" placeholder="Github file URL">
                        <div class="input-group-append">
                            <button class="btn btn-default btn-outline-secondary" id="gitload" type="submit">Load</button>
                        </div>
                    </div>
                </li>

                <% } else { %>
                    <li class="nav-item">
                        <div class="input-group mb-3 form-inline my-2 my-lg-0">
                            <a class="btn btn-default btn-outline-secondary" href="/oauth/login">Github login</a>
                        </div>
                    </li>
                <% } %>

                <li class="nav-item">
                    <div class="input-group mb-3 form-inline my-2 my-lg-0">
                        <a class="btn btn-default btn-outline-secondary" href="./annotatrix.html" target="_blank">New corpus</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="input-group mb-3 form-inline my-2 my-lg-0">
                        <input type="text" id="remotelink" class="form-control" placeholder="Remote URL">
                        <div class="input-group-append">
                            <button class="btn btn-default btn-outline-secondary" id="webload" type="submit">Load</button>
                        </div>
                    </div>

                    <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="URL" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Load</button>
                </form> -->
                </li>
                <li class="nav-item">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <!-- <span class="input-group-text" id="inputGroupFileAddon01">Upload</span> -->
                            <button id="upload-to-server" class="btn btn-outline-secondary" type="button">Load</button>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="fileupload" aria-describedby="fileupload">
                            <label class="custom-file-label" for="inputGroupFile01">Select local file</label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- end snippet -->
    <div class="container">
        <div id="welcome-content">
            <!-- <h1 id="welcome-banner">Welcome to UD Annotatrix</h1> -->
            <!-- <form method="post" enctype="multipart/form-data" action="./upload">
            		<input type="file" name="file" />
            		<input type="submit" value="Upload to server" />
            	</form> -->

            <!-- <form method="post" action="./upload">
            	<input id="load-from-url" name="url" />
            	<input type="submit" value="Load from url" />
            </form> -->

            <!-- <div id="links">
            	<strong>Links:</strong>
            	<a id="to_annotatrix" href="./annotatrix.html">
            		Online annotator
            	</a>

            	<a id="to_help" href="./help.html">
            		Help
            	</a>
            </div> -->

            <div class="spinner-border d-none" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div id="treebanks">
                <% if (error) { %>
                <span>
                    Error loading treebanks: <%= error %>
                </span>
                <% } else if (treebanks.length) { %>
                <!-- <span>
                Available treebanks:
            </span> -->
                <table id="available-treebanks" class="table table-hover table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Last modified</th>
                            <th>Action</th>
                            <th>Filename</th>
                            <th>Sentences (total)</th>
                            <th>Sentences (invalid)</th>
                            <th>Top labels</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% treebanks.forEach(treebank => {
                            const url = `${base}/annotatrix?treebank_id=${treebank.id}`; %>
                        <tr id="<%= treebank.id %>">
                            <td title="<%= treebank.modified %>">
                                    <%= treebank.modified_ago %>
                            </td>
                            <td>
                                <!-- <a href="<%= url %>" title="<%= treebank.id %>"> -->
                                <!-- <%= treebank.id.split('-')[0] %> -->
                                <% if (treebank.allowed) { %>
                                    <button type="button" class="btn btn-secondary btn-sm actmode" data-id="<%= treebank.id %>">Edit</button>
                                <% } else { %>
                                <% } %>

                                <!-- </a> -->
                            </td>
                            <% var label = "";
                             if (treebank.username){
                                 if (github)
                                     { if (treebank.username == github) {
                                         label = "Github corpus. You are owner";
                                      } else {
                                          label = "Github corpus, created by " + treebank.username + "." + " You "+ (treebank.allowed?"":"DO NOT ")+"have access to edit it";
                                      }
                                   } else if (treebank.open_access == 1) {
                                       label ="Github corpus, with open access to annotate text";
                                   } else {
                                        label = "Github corpus. Only logged-in editors can access";
                                   }
                                }
                            else {
                                label = "Standalone (local only) corpus";
                            }
                            %>

                            <td class="" title="<%= label %>">
                                <%- treebank.allowed?'<a href=" '+ url +'">':'' %>
                                    <% if (treebank.username) { %>
                                        <i class="fab fa-github" title="<%= treebank.username %>"></i>
                                    <% } %>

                                    <%= treebank.filename || " " %>
                                <%- treebank.allowed?'</a>':'' %>
                            </td>
                            <td>
                                    <%= treebank.sentences %>
                            </td>
                            <td>
                                    <%= treebank.errors %>
                            </td>
                            <td>
                                    <%= treebank.labels.map(label => `${label.name} (${label.size})`).join(', ') || " " %>
                            </td>
                        </tr>
                        </a>
                        <% }); %>
                    </tbody>
                </table>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="actionswitch">
                    <label class="custom-control-label" for="actionswitch">Edit/Delete</label>
                </div>
                <% } else { %>
                <h1 id="welcome-banner">Welcome to UD Annotatrix!</h1>
                <div class="row  justify-content-md-center">
                    <h4>You can make a corpus by downloading Github file or by uploading local one!</h4>
                </div>
                <% } %>
            </div>
            <% if (github) { %>
                <a class="btn btn-default btn-outline-secondary btn-sm" href="/logout">Logout from Github</a>
            <% } else { %>
            <% } %>

        </div>
    </div>

</body>

</html>
