<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UD Annotatrix: Settings</title>
  <link rel="icon" href="../favicon.png" sizes="230x230" type="image/png">
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/fontawesome.all.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/settings.css" />
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.bundle.js"></script>
  <script src="../js/settings.js"></script>
</head>

<body>

  <header class="mb-auto">
    <div class="inner">
      <nav class="nav justify-content-center">
        <a class="nav-link" href="/annotatrix?treebank_id=<%= treebank %>">Back to editing</a>
        <a class="nav-link" href="/">Go to main page</a>
        <a class="nav-link" href="/help">Read help</a>
      </nav>
    </div>
  </header>
    <div class="container">
      <div class="py-5 text-center">
        <h3>
          Treebank <span class="settings-group-name" id="treebank"><%= treebank %></span>
        </h3>
        <p class="lead">This is a treebank

          <% if (data && data.username) { %>
          connected to Github repository
          <% } else { %>
          not connected to Github (standalone)
          <% } %>

          </p>

      </div>
      <% var isAllowed = false; %>
      <% if (access && data && ((username === data.username) || access.filter (item => item.username == username).length)) { %>
      <% isAllowed = true %>
      <% } %>
      <div class="row">
        <% if (data && access) { %>
        <div class="col-md-4 order-md-2 mb-4" id="editorslist">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Editors</span>
            <span class="badge badge-secondary badge-pill" id="usernum"><%= access.length+1 %></span>
          </h4>
          <ul class="list-group mb-3">

            <li class="list-group-item justify-content-between lh-condensed d-none">
              <div class="text-info">
                <h6 class="my-0"></h6>
                <small>Editor</small>
              </div>
              <span class="text-muted">
                <button type="button" data-user="" class="btn btn-default remove">
                  <i class="fa fa-times" title=""></i>
                </button>

              </span>
            </li>


            <% access.forEach(row => { %>
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">@<%= row.username %></h6>
                  <small class="text-muted">Editor</small>
                </div>
                <span class="text-muted">
                  <button type="button" data-user="<%= row.username %>" class="btn btn-default remove">
                    <i class="fa fa-times" title=""></i>
                  </button>

                </span>
              </li>
            <% }); %>


            <li class="list-group-item d-flex justify-content-between bg-light" id="owner">
              <div class="text-success">
                <h6 class="my-0">@<%= data.username %></h6>
                <small>Owner</small>
              </div>
              <!-- <span class="text-success"><i class="fab fa-github" title=""></i></span> -->
            </li>

          </ul>

          <div class="input-group">
            <input type="text" id="github_user" class="form-control" placeholder="Github username" <% if (!isAllowed) { %>disabled<% } %>>
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary" id="grant" <% if (!isAllowed) { %>disabled<% } %>>Add an editor</button>
            </div>
          </div>


        </div>
        <% } %>

        <div class="col-md-8 order-md-1">
          <% if (data) { %>
          <h4 class="mb-3">Treebank properties</h4>



            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="label">Owner of the active repository (fork)</div>
                <div>
                  <a href="https://github.com/<%=data.username%>" target="_blank">@<%= data.username %></a>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="label">Author of the original repository</div>
                <div>
                  <a href="https://github.com/<%=data.owner%>" target="_blank">@<%= data.owner %></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="label">Branch</div>
                <div class="">
                  <%= data.branch %>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="label">File</div>
                <div>
                  <a href="<%=data.url%>" target="_blank"><%= data.filename %></a>
                </div>
              </div>
            </div>

            <!-- <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="same-address">
              <label class="custom-control-label" for="same-address">Enable collaborative editing</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="save-info">
              <label class="custom-control-label" for="save-info">Require GitHub login to edit treebank</label>
            </div> -->
            <hr class="mb-4">

            <h4 class="mb-3">Access to editing the treebank</h4>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="accessEditor" name="accessRepo" type="radio" class="custom-control-input access"  <% if (!data.open_access) { %>checked<% } %> required <% if (!isAllowed) { %>disabled<% } %> value="0">
                <label class="custom-control-label" for="accessEditor">Users from editors list (have to be logged in)</label>
              </div>

              <div class="custom-control custom-radio">
                <input id="accessAny" name="accessRepo" type="radio" class="custom-control-input access" <% if (data.open_access) { %>checked<% } %> required <% if (!isAllowed) { %>disabled<% } %> value="1">
                <label class="custom-control-label" for="accessAny">Anyone</label>
              </div>

            </div>
            <hr class="mb-4">
            <% if (username) { %>
            <!-- <button class="btn btn-primary btn-lg btn-block">Save settings</button> -->
            <!-- <p><small>Shown for  <%= '@'+username || "non-logged in user. Log in to change properties of the treebank" %>.</small></p> -->
            <div class="alert alert-secondary">
              You are logged in as <%= '@'+username %>.
              <% if (isAllowed) { %>
                You have access to edit the treebank.
              <% } else { %>
                  You DO NOT have access to edit the treebank.
              <% } %>
            </div>
            <% } else { %>
              <div class="alert alert-warning"><a href="/oauth/login?treebank_id=<%= treebank || "" %>">Log in</a> to change settings</div>
            <% } %>

          <% } %>
          <div class="alert alert-danger d-none" id="error"></div>
        </div>
      </div>

</body>

</html>
